# 1. Lists

In [1]:
students = ['Andrew', 'Brie', 'Cynthia']

In [2]:
students[0]

'Andrew'

### Slicing

In [3]:
# Slicing
numbers = list(range(50))

In [4]:
# Between elements
numbers[4:10]

[4, 5, 6, 7, 8, 9]

In [5]:
# From start until element
numbers[:10]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
# From element until end
numbers[43:]

[43, 44, 45, 46, 47, 48, 49]

In [7]:
# Last n elements
numbers[-5:]

[45, 46, 47, 48, 49]

### List Functions

In [8]:
ages = [14, 56, 23, 18, 88, 5]

In [9]:
# Max value from a list
max(ages)

88

In [10]:
# Min value from a list
min(ages)

5

In [11]:
# Length of a list
len(ages)

6

In [12]:
# Sorted list (ascending as default criteria)
sorted(ages)

[5, 14, 18, 23, 56, 88]

In [13]:
# Sort in descending order
sorted(ages, reverse=True)

[88, 56, 23, 18, 14, 5]

In [14]:
# Sorting does not change original list
ages

[14, 56, 23, 18, 88, 5]

### List Methods

In [15]:
# add element to list
ages.append(52)
ages

[14, 56, 23, 18, 88, 5, 52]

In [16]:
# remove last element from list (can be attributed to a variable)
poppedAge = ages.pop()
poppedAge

52

In [17]:
ages

[14, 56, 23, 18, 88, 5]

In [18]:
# remove specific element from the list
ages.remove(23)
ages

[14, 56, 18, 88, 5]

# 2. Dictionaries

In [22]:
# Mutable, unordered key-value pairs
studentScores = {'Andrew': 88, 'Brie': 92, 'Cynthia': 96}

In [23]:
# Access by keys
studentScores['Brie']

92

In [24]:
# Access by get method
studentScores.get('Cynthia')

96

In [26]:
# Get is preferred over key access because it won't throw and error when key is invalid
# studentScores['Andy'] would throw an error
studentScores.get('Andy') # just returns None and can be handled more easily

In [44]:
# Andy is not in the dictionary
if 'Andy' in studentScores:
    print(studentScores.get('Andy'))
else:
    print('Andy not found')

# Cynthia is in the dictionary    
if 'Cynthia' in studentScores:
    print(studentScores.get('Cynthia'))
else:
    print('Cynthia not found')

Andy not found
96

In [29]:
# Adding values is done the same way as as reassigning
studentScores['Andrew'] = 89
studentScores['Andy'] = 94
studentScores

{'Andrew': 89, 'Brie': 92, 'Cynthia': 96, 'Andy': 94}

In [30]:
# Remove values by key
studentScores.pop('Andy')
studentScores

{'Andrew': 89, 'Brie': 92, 'Cynthia': 96}

### Accessing keys, values and items

In [31]:
studentScores.keys()

dict_keys(['Andrew', 'Brie', 'Cynthia'])

In [32]:
studentScores.values()

dict_values([89, 92, 96])

In [33]:
studentScores.items()

dict_items([('Andrew', 89), ('Brie', 92), ('Cynthia', 96)])

In [34]:
# Nested Dictionaries
nestedScores = {
    'Andrew': {
        'bio': 79,
        'phys': 88,
        'chem': 73
    },
    'Brie': {
        'bio': 89,
        'phys': 78,
        'chem': 92
    },
    'Cynthia': {
        'bio': 98,
        'phys': 99,
        'chem': 93
    }
}
nestedScores

{'Andrew': {'bio': 79, 'phys': 88, 'chem': 73},
 'Brie': {'bio': 89, 'phys': 78, 'chem': 92},
 'Cynthia': {'bio': 98, 'phys': 99, 'chem': 93}}

In [37]:
# Iterate
for k, v in nestedScores.items():
    print(v)

{'bio': 79, 'phys': 88, 'chem': 73}
{'bio': 89, 'phys': 78, 'chem': 92}
{'bio': 98, 'phys': 99, 'chem': 93}

In [41]:
for k, v in nestedScores.items():
    print(k, 'scored', v['bio'], 'in biology')

Andrew scored 79 in biology
Brie scored 89 in biology
Cynthia scored 98 in biology