In [1]:
import pandas as pd

# Pandas Series can hold any type of value
### Unlike numpy arrays, that only hold one specific data type

In [2]:
# creating a python list
students = ['Andrew', 'Jane', 'Bill']
type(students)

list

In [3]:
# creating a series out of a list
pd.Series(students)

0    Andrew
1      Jane
2      Bill
dtype: object

In [4]:
age = [19, 22, 25]
type(age)

list

In [5]:
pd.Series(age)

0    19
1    22
2    25
dtype: int64

In [6]:
random_list = [True, 1.2, {'tag': 'bootcamp'}]
type(random_list)

list

In [7]:
pd.Series(random_list)

0                   True
1                    1.2
2    {'tag': 'bootcamp'}
dtype: object

# Series Index and RangeIndex

In [8]:
# Pandas series are automatically given 0..n-1 indexes to its data, unless otherwise explicit
indexSeries = pd.Series(students)
indexSeries

0    Andrew
1      Jane
2      Bill
dtype: object

In [9]:
titledSeries = pd.Series(students, index=['Good Student', 'OK Student', 'Bad Student'])
titledSeries

Good Student    Andrew
OK Student        Jane
Bad Student       Bill
dtype: object

In [10]:
# Automatically generated indexes in Pandas Series are of the RangeIndex type
indexSeries.index

RangeIndex(start=0, stop=3, step=1)

In [11]:
# Supplied indexes in Pandas Series are of Index type
titledSeries.index

Index(['Good Student', 'OK Student', 'Bad Student'], dtype='object')

# Series and Index Names

In [13]:
# Pandas series can also be named. Those names will be used as column headers in dataframes
indexSeries.name == None

True

In [14]:
indexSeries.name = 'School Students'

In [15]:
indexSeries

0    Andrew
1      Jane
2      Bill
Name: School Students, dtype: object

In [17]:
# Index from Series can also be named
indexSeries.index.name == None

True

In [18]:
indexSeries.index.name = 'Student ID'

In [19]:
indexSeries

Student ID
0    Andrew
1      Jane
2      Bill
Name: School Students, dtype: object

# Challenge

Create two lists, one of actor names and actor ages

Use these lists to create a Pandas Series, using the actor names as indexes and ages as values. Name it 'actors'

In [20]:
actorNames = ['Brad Pitt', 'Tom Cruise', 'Tim Robbins', 'Morgan Freeman']
actorAges = [58, 62, 61, 82]

In [21]:
actorSeries = pd.Series(data=actorAges, index=actorNames)

In [24]:
actorSeries.name = 'Actors'
actorSeries

Brad Pitt         58
Tom Cruise        62
Tim Robbins       61
Morgan Freeman    82
Name: Actors, dtype: int64

#### BONUS:

Create a dictionary out of the two original lists and create a new series using it as parameter

In [25]:
actorDict = dict(zip(actorNames, actorAges))
actorDict

{'Brad Pitt': 58, 'Tom Cruise': 62, 'Tim Robbins': 61, 'Morgan Freeman': 82}

In [33]:
actorDictSeries = pd.Series(actorDict)
actorDictSeries.name = 'Actors (from dict)'

In [34]:
actorDictSeries

Brad Pitt         58
Tom Cruise        62
Tim Robbins       61
Morgan Freeman    82
Name: Actors (from dict), dtype: int64