In [1]:
import pandas as pd

# Load a Series from CSV

In [2]:
# read a single series from csv data, by using the 'squeeze' parameter
alcohol = pd.read_csv('../data/drinks.csv', usecols=['country', 'wine_servings'], index_col='country', squeeze=True)

In [3]:
type(alcohol)

pandas.core.series.Series

In [4]:
alcohol

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen            NaN
Zambia           4.0
Zimbabwe         4.0
Name: wine_servings, Length: 193, dtype: float64

# Series attributes and methods

In [5]:
alcohol.size

193

In [6]:
alcohol.index

Index(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua & Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria',
       ...
       'Tanzania', 'USA', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela',
       'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', name='country', length=193)

In [7]:
alcohol.values

array([ nan,  54.,  14., 312.,  45.,  45., 221.,  11., 212., 191.,   5.,
        51.,   7.,  nan,  36.,  42., 212.,   8.,  13.,  nan,   8.,   8.,
        35.,  16.,   1.,  94.,   7.,  nan,   7.,  16.,   1.,   4.,   1.,
         1.,   1., 172.,   8.,   3.,   1.,   9.,  74.,  11., 254.,   5.,
       113., 134.,  nan,   1., 278.,   3.,  26.,   9.,   3.,   1.,   2.,
       233.,  nan,  59.,  nan,   1.,  97.,  37.,  59.,   1., 149., 175.,
         1., 218.,  28.,   2.,   2.,  21.,   1.,   1.,   2., 185.,  78.,
        nan,  nan,  nan,  nan, 165.,   9., 237.,   9.,  16.,   1.,  12.,
         2.,   1.,  nan,   6., 123.,  62.,  31.,  nan,   2.,  nan,  56.,
       271.,   4.,   1.,  nan,  nan,   1.,  12.,  nan,  nan,  18.,   5.,
        18.,  nan,   8., 128.,   1.,   5.,  nan,   1.,   8.,  nan,  19.,
       175.,   1.,   1.,   2.,   7., 129.,   1.,  nan,  23.,  18.,   1.,
        74.,  21.,   1.,  56., 339.,   7.,   9.,  18., 167.,  73.,  nan,
        32.,  71.,  11.,  24.,  nan,  14.,  nan,   7., 127.,  51.,   2.,
        11., 116., 276.,   1.,  nan,  81., 112.,  nan,  nan,   7.,   2.,
       186.,  28.,  16.,  nan,   1.,  86.,   4.,  19.,   5.,   7.,   2.,
         7.,  32.,   9.,  nan,  45.,   5., 195.,   1.,  84.,  22.,   8.,
        11.,   3.,   1.,  nan,   4.,   4.])

In [8]:
# shape returns a tuple (<rows>, <cols>)
alcohol.shape

(193,)

In [9]:
# check if all values are unique
alcohol.is_unique

False

In [10]:
# check number of unique values
alcohol.nunique()

71

In [11]:
# count() method excludes NaN/null values
alcohol.count()

162

In [12]:
# check if series has NaN values
alcohol.hasnans

True

In [13]:
# isnull() or isna() returns a boolean array indicating if the element is NaN/null
# that array can be used as a boolean mask to return the NaN elements of a series

alcohol.loc[alcohol.isna()]

country
Afghanistan        NaN
Bangladesh         NaN
Bhutan             NaN
Burundi            NaN
North Korea        NaN
Eritrea            NaN
Ethiopia           NaN
India              NaN
Indonesia          NaN
Iran               NaN
Iraq               NaN
Kuwait             NaN
Lesotho            NaN
Libya              NaN
Malaysia           NaN
Maldives           NaN
Marshall Islands   NaN
Mauritania         NaN
Monaco             NaN
Myanmar            NaN
Nepal              NaN
Pakistan           NaN
Rwanda             NaN
San Marino         NaN
Saudi Arabia       NaN
Somalia            NaN
Sri Lanka          NaN
Sudan              NaN
Tajikistan         NaN
Uganda             NaN
Yemen              NaN
Name: wine_servings, dtype: float64

In [14]:
# count the number of null elements in a series
alcohol.isna().sum()

31

In [15]:
# notna() or notnull() returns a boolean mask for non null elements
alcohol.loc[alcohol.notna()]

country
Albania               54.0
Algeria               14.0
Andorra              312.0
Angola                45.0
Antigua & Barbuda     45.0
                     ...
Vanuatu               11.0
Venezuela              3.0
Vietnam                1.0
Zambia                 4.0
Zimbabwe               4.0
Name: wine_servings, Length: 162, dtype: float64

In [16]:
alcohol.notna().sum()

162

In [23]:
# Drop NA's
alcohol.dropna()

country
Albania               54.0
Algeria               14.0
Andorra              312.0
Angola                45.0
Antigua & Barbuda     45.0
                     ...
Vanuatu               11.0
Venezuela              3.0
Vietnam                1.0
Zambia                 4.0
Zimbabwe               4.0
Name: wine_servings, Length: 162, dtype: float64

In [27]:
# Fill NA's with something else (relevant to the analysis)
alcohol.fillna(100)

country
Afghanistan    100.0
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen          100.0
Zambia           4.0
Zimbabwe         4.0
Name: wine_servings, Length: 193, dtype: float64

In [31]:
# Get only NA's and replace them with 100
alcohol.loc[alcohol.isna()].fillna(100).head()

country
Afghanistan    100.0
Bangladesh     100.0
Bhutan         100.0
Burundi        100.0
North Korea    100.0
Name: wine_servings, dtype: float64

# Challenge 1

1. Isolate non nulls from alcohol series
2. Sum the total servings from those countries
3. Sum the total servings from countries with less than 100 servings

In [17]:
wine_servings = alcohol.loc[alcohol.notna()]

In [18]:
wine_servings.sum()

8221.0

In [19]:
low_servings = wine_servings.loc[lambda x: x < 100]

In [20]:
low_servings.sum()

2416.0

# Descriptive Statistics

In [32]:
# Average / Mean
wine_servings.sum() / wine_servings.count()

50.74691358024691

In [33]:
wine_servings.mean()

50.74691358024691

In [34]:
# Median
wine_servings.median()

11.5

In [35]:
wine_servings.quantile(q=0.5)

11.5

In [36]:
# Difference between 1st and 3rd quantiles (sample's range)
wine_servings.quantile(q=0.75) - wine_servings.quantile(q=0.25)

58.25

In [37]:
# Minimum value
wine_servings.min()

1.0

In [41]:
# Maximum value
wine_servings.max()

339.0

In [42]:
# Standard Deviation
wine_servings.std()

76.13491716376171

In [43]:
# Variance
wine_servings.var()

5796.525611532858

In [44]:
# Describe method
wine_servings.describe()

count    162.000000
mean      50.746914
std       76.134917
min        1.000000
25%        3.000000
50%       11.500000
75%       61.250000
max      339.000000
Name: wine_servings, dtype: float64

In [45]:
# Mode (most frequent value)
wine_servings.mode()

0    1.0
dtype: float64

In [55]:
# Find how often the mode occurs
wine_servings[wine_servings == 1].size

28

In [56]:
wine_servings.value_counts()

1.0      28
2.0      10
7.0       9
8.0       7
5.0       6
         ..
218.0     1
185.0     1
78.0      1
165.0     1
22.0      1
Name: wine_servings, Length: 71, dtype: int64

In [63]:
# Get the label for Max value
wine_servings[wine_servings == wine_servings.max()].index

Index(['Portugal'], dtype='object', name='country')

In [64]:
wine_servings[wine_servings == wine_servings.max()].index[0]

'Portugal'

In [65]:
wine_servings.idxmax()

'Portugal'

In [66]:
wine_servings.idxmin()

'Brunei'