In [1]:
import pandas as pd

# Load a Series from CSV

In [2]:
# read a single series from csv data, by using the 'squeeze' parameter
alcohol = pd.read_csv('../data/drinks.csv', usecols=['country', 'wine_servings'], index_col='country', squeeze=True)

C:\Users\phin_\AppData\Local\Temp\ipykernel_21436\988486376.py:2: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  alcohol = pd.read_csv('../data/drinks.csv', usecols=['country', 'wine_servings'], index_col='country', squeeze=True)

# Arithmetic operations with Series

In [3]:
alcohol

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen            NaN
Zambia           4.0
Zimbabwe         4.0
Name: wine_servings, Length: 193, dtype: float64

In [4]:
# Add 2 to every item in the Series
alcohol + 2

country
Afghanistan      NaN
Albania         56.0
Algeria         16.0
Andorra        314.0
Angola          47.0
               ...
Venezuela        5.0
Vietnam          3.0
Yemen            NaN
Zambia           6.0
Zimbabwe         6.0
Name: wine_servings, Length: 193, dtype: float64

In [5]:
# Multiple operations at once
(alcohol - 10) * 2/3

country
Afghanistan           NaN
Albania         29.333333
Algeria          2.666667
Andorra        201.333333
Angola          23.333333
                  ...
Venezuela       -4.666667
Vietnam         -6.000000
Yemen                 NaN
Zambia          -4.000000
Zimbabwe        -4.000000
Name: wine_servings, Length: 193, dtype: float64

### Adding series together

In [6]:
more_drinks = pd.Series({'Albania': 5, 'Yemen': 2})

In [7]:
# Adding them together will only keep records in which both matching indexes have values
alcohol + more_drinks

Afghanistan     NaN
Albania        59.0
Algeria         NaN
Andorra         NaN
Angola          NaN
               ...
Venezuela       NaN
Vietnam         NaN
Yemen           NaN
Zambia          NaN
Zimbabwe        NaN
Length: 193, dtype: float64

In [8]:
# fill_value makes sure any NaN's from either list get replaced with a desired outcome to prevent end result being NaN
alcohol.add(more_drinks, fill_value=0)

Afghanistan      NaN
Albania         59.0
Algeria         14.0
Andorra        312.0
Angola          45.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen            2.0
Zambia           4.0
Zimbabwe         4.0
Length: 193, dtype: float64

### Manually calculating variance
$$ s^2 = \frac{   \sum (X - \overline{X})^2 }{n-1} $$

In [9]:
((alcohol - alcohol.mean())**2).sum() / (alcohol.count()-1)

5796.5256115328575

In [10]:
alcohol.var()

5796.5256115328575